@font-face {
    font-family: menu;
    src:url('../assets/fonts/PixeloidSans-nR3g1.ttf');
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.body {
    background: url('../assets/img/fondo.jpg') no-repeat center center fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1440px;
    min-height: 100%;
    text-align: left;
}

.comun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.header {
    background-color: #55FFFF;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    margin: 5px;
}

.menu {
    color: white;
    font-family: menu, sans-serif;
    font-size: 1.5em;
}

.menu li {
    display: inline;
    margin: 0px 10px;
    text-align: right;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    text-align: right;
}

.menu li a:hover {
    background-color: black;
    color: yellow;
}

.navBar {
    align-items: center;
    background-color: #0000AA;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    margin: 1em 20px 20px auto;
    max-width: 80%;
    padding: 0px;
}

.footer {
    background-color: #FF55FF;
    border: 3px solid white;
    border-radius: 10px;
    display: block;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
}

.footer:before {
    content: "Copyleft ©:";
    font-weight: bold;
}

.principal {
    margin-top: 30px;
}

#title {
    font-family: menu, sans-serif;
    text-align: center;
    margin: 0px;
}

.nombre {
    color: #00AA00;
    font-size: 6em;
}

.remate {
    color: black;
    font-size: 1.5em;
}

.encabezado {
    background-color: #00AAAA;
    border: 3px solid white;
    border-radius: 10px;
    font-family: menu, sans-serif;
    font-size: 3em;
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
}

section.nosotros > p.texto {
    background-color: #aaaaaa;
    border-radius: 10px;
    font-family: verdana, sans serif;
    font-size: 2.5vw;
    margin: 15px 30px 30px;
    padding: 15px;
    text-align: center;
}

h1.encabezado > a {
    color: black;
    text-decoration: none;
}

h1.encabezado > a:hover {
    color: #555555;
}

.insertcoin {
    font-family: menu, sans-serif;
}

/* GRID */
.contenedor {
    display: grid;
    gap: 30px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    margin: 30px;
    padding: 15px;
}

.item {
    background-color: #aaaaaa;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
}

section.componentes div.item {
    background-color: #FFFF55;
}

section.equipos div.item > p.titulo:after {
    font-family: "Font Awesome 5 Free";
    content: "     \e4e5";

}
section.componentes div.item > p.titulo:after {
    font-family: "Font Awesome 5 Free";
    content: "     \f11b";
}

div.item > p.titulo {
    font-family: menu, sans serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

div.item > p.descripcion {
    font-family: verdana, sans serif;
    font-size: 1em;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1440px) {
    .body {
        background-image: url('../assets/img/fondo.jpg');
        max-width: 1440px;
    }
}

@media screen and (max-width: 1000px) {
    .body {
        background-image: url('../assets/img/fondo-1000.jpg');
        max-width: 1000px;
    }
    .nombre {
        font-size: 5em;
    }
    .remate {
        font-size: 1em;
    }
    .menu {
        font-size: 1.2em;
    }
    .encabezado {
        font-size: 2.3em;
    }
    .contenedor {
        grid-template-columns: 50% 50%;
    }
@media screen and (max-width: 640px) {
    .body {
        background-image: url('../assets/img/fondo-640.jpg');
        max-width: 640px;
    }
    .nombre {
        font-size: 4em;
    }
    .remate {
        font-size: 0.8em;
    }
    .menu {
        font-size: 0.8em;
    }
    .encabezado {
        font-size: 1.6em;
    }
    .contenedor {
        grid-template-columns: 100%;
    }
}
